.home {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
}
.home_section_1 {
  width: 65%;
  background-repeat: no-repeat;
  margin: auto;
  height: max-content;
  border: 1px solid var(--color-bg);
  background-size: cover;
  background-image: url(../../assets/magzines/mag_women.jpg);
}

/* box shadow  */
.home_section_1 > div,
.home_section_2 > div,
.sports_section > div,
.home_care_section > div {
  flex: 1;
  background: linear-gradient(to bottom, transparent 0%, black 250%);
  bottom: 0;
  content: "";
  display: block;
  margin-top: 100px;
  padding-bottom: 30px;
}

.home_section_2 > div :nth-child(2) {
  margin-top: 150px;
  margin-bottom: 30px;
}

.home_section_2 {
  width: 65%;
  background-repeat: no-repeat;
  border: 1px solid var(--color-bg);
  background-size: cover;
  background-image: url(../../assets/women.jpg);
  height: fit-content;
  margin: auto;
}
.home_section_2 > :nth-child(2) {
  margin-top: 140px;
}
.shop_box {
  background-image: url(../../assets/hmgoepprod.jpg);
  width: 65%;
  border: 1px solid var(--color-bg);
  background-repeat: no-repeat;
  margin: auto;
  padding-top: 20px;
  display: flex;
  background-size: cover;
  flex-direction: column;
  gap: 10px;
}

.category_box,
.new_arrivals {
  width: 65%;
  margin: auto;
}
.new_arrivals_category {
  display: flex;
  font-size: 17px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.new_arrivals_category > {
  margin-bottom: 10px;
}
.new_arrivals_slider {
  margin-top: 20px;
  margin-bottom: 20px;
}
.sports_section {
  width: 65%;
  background-repeat: no-repeat;
  border: 1px solid var(--color-bg);
  background-size: cover;
  background-image: url(../../assets/sport.jpg);
  height: fit-content;
  margin: auto;
}
.sports_section > div {
  margin-top: 250px;
}
.home_care_section {
  width: 65%;
  background-repeat: no-repeat;
  border: 1px solid var(--color-bg);
  background-size: cover;
  background-image: url(../../assets/homecare.jpg);
  height: fit-content;
  margin: auto;
}
.home_care_section > div {
  margin-top: 300px;
}

/* for tabs */
@media all and (min-width: 640px) and (max-width: 1024px) {
  .home_section_1 {
    width: 90%;
    background-position: center;
  }
  .home_section_2 {
    width: 90%;
    background-position: center;
  }
  .shop_box {
    width: 90%;
    background-position: center;
  }
  .category_box,
  .new_arrivals,
  .sports_section,
  .home_care_section {
    width: 90%;
    margin: auto;
  }
}

/* for mobile screens */
@media all and (min-width: 324px) and (max-width: 640px) {
  .shop_box {
    width: 90%;
    display: none;
  }
  .home_section_1 {
    width: 90%;
    background-position: center;
  }
  .category_box,
  .new_arrivals {
    width: 80%;
    margin: auto;
  }
  .sports_section,
  .home_care_section {
    width: 90%;
    margin: auto;
    background-position: center;
  }
  .home_section_2 {
    width: 90%;
    background-position: center;
    background-image: url(../../assets/women_min.jpg);
  }
}
