.products_category_name {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}
.products_box {
  margin: 10px;
}

.products_sort_box {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.products_sort_box > div {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}
.products_card_box {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* for tabs */
@media all and (min-width: 640px) and (max-width: 1024px) {
  .products_card_box {
    grid-template-columns: repeat(3, 32%);
  }
}

/* for mobile screens */
@media all and (min-width: 324px) and (max-width: 640px) {
  .products_card_box {
    grid-template-columns: repeat(2, 44%);
  }
}
