.cart_container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.cart_text_box {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;
}
.cart_box {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
.cart_box > div {
  border: 1px solid teal;
}
.details_box {
  flex: 2;
}
.checkout_box {
  flex: 1;
}
